apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: {{ .Release.Namespace }}
  name: {{ .Values.agentDeploymentName }}
  annotations:
  {{- with .Values.agentDeploymentAnnotations }}
  {{ toYaml . | indent 8 }}
  {{- end }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      open-cluster-management.io/addon: cluster-proxy
      proxy.open-cluster-management.io/component-name: proxy-agent
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  template:
    metadata:
      annotations:
      {{- with .Values.agentDeploymentAnnotations }}
      {{ toYaml . | indent 8 }}
      {{- end }}
      labels:
        open-cluster-management.io/addon: cluster-proxy
        proxy.open-cluster-management.io/component-name: proxy-agent
    spec:
      serviceAccount: cluster-proxy
      {{- if .Values.tolerations }}
      tolerations: {{ toYaml .Values.tolerations | nindent 8 }}
      {{- end }}
      {{- if .Values.nodeSelector }}
      nodeSelector: {{ toYaml .Values.nodeSelector | nindent 8 }}
      {{- end }}
      containers:
        - name: proxy-agent
          image: {{ .Values.proxyAgentImage }}
          imagePullPolicy: IfNotPresent
          command:
            - /proxy-agent
          args:
            - --proxy-server-host={{ .Values.serviceEntryPoint }}
            - --proxy-server-port={{ .Values.serviceEntryPointPort }}
            - --agent-identifiers={{ .Values.agentIdentifiers }}
            - --ca-cert=/etc/ca/ca.crt
            - --agent-cert=/etc/tls/tls.crt
            - --agent-key=/etc/tls/tls.key
            {{- range .Values.additionalProxyAgentArgs }}
            - {{ . }}
            {{- end }}
          volumeMounts:
            - name: ca
              mountPath: /etc/ca
              readOnly: true
            - name: hub
              mountPath: /etc/tls
              readOnly: true
        - name: addon-agent
          image: {{ .Values.registry }}/{{ .Values.image }}:{{ .Values.tag }}
          imagePullPolicy: IfNotPresent
          command:
            - /agent
          args:
            - --v=2
            {{- range .Values.addonAgentArgs }}
            - {{ . }}
            {{- end }}
          volumeMounts:
            - name: hub-kubeconfig
              mountPath: /etc/kubeconfig/
              readOnly: true
          env:
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
      volumes:
        - name: ca
          secret:
            secretName: cluster-proxy-ca
        - name: hub
          secret:
            secretName: cluster-proxy-open-cluster-management.io-proxy-agent-signer-client-cert
        - name: hub-kubeconfig
          secret:
            secretName: cluster-proxy-hub-kubeconfig
      imagePullSecrets:
      {{- range .Values.proxyAgentImagePullSecrets }}
      - name: {{ . }}
      {{- end }}
