apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: {{ .Release.Namespace }}
  name: {{ .Values.agentDeploymentName }}
  annotations:
  {{- with .Values.agentDeploymentAnnotations }}
  {{ toYaml . | indent 2 }}
  {{- end }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      open-cluster-management.io/addon: cluster-proxy
      proxy.open-cluster-management.io/component-name: proxy-agent
  template:
    metadata:
      annotations:
      {{- with .Values.agentDeploymentAnnotations }}
      {{ toYaml . | indent 2 }}
      {{- end }}
        target.workload.openshift.io/management: '{"effect": "PreferredDuringScheduling"}'
      labels:
        open-cluster-management.io/addon: cluster-proxy
        proxy.open-cluster-management.io/component-name: proxy-agent
    spec:
      hostAliases:
      - ip: "127.0.0.1"
        hostnames:
        - {{ .Values.serviceProxyHost }}
      serviceAccount: cluster-proxy
      {{- if .Values.tolerations }}
      tolerations: {{ toYaml .Values.tolerations | nindent 8 }}
      {{- end }}
      {{- if .Values.nodeSelector }}
      nodeSelector: {{ toYaml .Values.nodeSelector | nindent 8 }}
      {{- end }}
      containers:
        - name: proxy-agent
          {{- $reverseResourceRequirements := reverse .Values.global.resourceRequirements }}
          {{- range $item := $reverseResourceRequirements }}
            {{- if regexMatch $item.containerIDRegex "deployments:cluster-proxy-proxy-agent:proxy-agent" }}
          resources:
              {{- toYaml $item.resources | nindent 12 }}
              {{- break -}}
            {{- end -}}
          {{- end }}
          image: {{ .Values.proxyAgentImage }}
          imagePullPolicy: IfNotPresent
          command:
            - /proxy-agent
          args:
            - --proxy-server-host={{ .Values.serviceEntryPoint }}
            - --proxy-server-port={{ .Values.serviceEntryPointPort }}
            - --agent-identifiers={{ .Values.agentIdentifiers }}
            - --ca-cert=/etc/ca/ca.crt
            - --agent-cert=/etc/tls/tls.crt
            - --agent-key=/etc/tls/tls.key
            {{- range .Values.additionalProxyAgentArgs }}
            - {{ . }}
            {{- end }}
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
              - ALL
            privileged: false
            runAsNonRoot: true
            readOnlyRootFilesystem: true
          livenessProbe:
            httpGet:
              path: /healthz
              scheme: HTTP
              port: 8888
            initialDelaySeconds: 10
            failureThreshold: 1
            periodSeconds: 10
          env:
            {{- if .Values.proxyConfig.HTTP_PROXY }}
            - name: HTTP_PROXY
              value: {{ .Values.proxyConfig.HTTP_PROXY }}
            {{- end }}
            {{- if .Values.proxyConfig.HTTPS_PROXY }}
            - name: HTTPS_PROXY
              value: {{ .Values.proxyConfig.HTTPS_PROXY }}
            {{- end }}
            {{- if .Values.proxyConfig.NO_PROXY }}
            - name: NO_PROXY
              value: {{ .Values.proxyConfig.NO_PROXY }}
            {{- end }}
            - name: ROOT_CA_CERT
              value: "/etc/ca/ca.crt"
          volumeMounts:
            - name: ca
              mountPath: /etc/ca
              readOnly: true
            - name: hub
              mountPath: /etc/tls
              readOnly: true
        - name: addon-agent
          {{- $reverseResourceRequirements := reverse .Values.global.resourceRequirements }}
          {{- range $item := $reverseResourceRequirements }}
            {{- if regexMatch $item.containerIDRegex "deployments:cluster-proxy-proxy-agent:addon-agent" }}
          resources:
              {{- toYaml $item.resources | nindent 12 }}
              {{- break -}}
            {{- end -}}
          {{- end }}
          image: {{ .Values.registry }}/{{ .Values.image }}:{{ .Values.tag }}
          imagePullPolicy: IfNotPresent
          command:
            - /agent
          args:
            - --v=2
            {{- range .Values.addonAgentArgs }}
            - {{ . }}
            {{- end }}
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            privileged: false
            runAsNonRoot: true
            readOnlyRootFilesystem: true
          volumeMounts:
            - name: hub-kubeconfig
              mountPath: /etc/kubeconfig/
              readOnly: true
            - name: hub
              mountPath: /etc/tls
              readOnly: true
          env:
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
        {{- if .Values.enableServiceProxy }}
        - name: service-proxy
          {{- $reverseResourceRequirements := reverse .Values.global.resourceRequirements }}
          {{- range $item := $reverseResourceRequirements }}
            {{- if regexMatch $item.containerIDRegex "deployments:cluster-proxy-proxy-agent:service-proxy" }}
          resources:
              {{- toYaml $item.resources | nindent 12 }}
              {{- break -}}
            {{- end -}}
          {{- end }}
          image: {{ .Values.proxyAgentImage }} # build by the cluster-proxy-addon repo
          imagePullPolicy: IfNotPresent
          command:
            - /cluster-proxy
          args:
            - service-proxy
          {{- if .Values.addtionalServiceCAConfigMap }}
            - --additional-service-ca=/additional-service-ca/service-ca.crt
          {{- end }}
            - --enable-impersonation={{ .Values.enableImpersonation }}
            - --cert=/server-cert/tls.crt
            - --key=/server-cert/tls.key
            - --hub-kubeconfig=/etc/kubeconfig/kubeconfig
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8000
            initialDelaySeconds: 2
            periodSeconds: 10
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            privileged: false
            runAsNonRoot: true
            readOnlyRootFilesystem: true
          volumeMounts:
            - name: hub-kubeconfig
              mountPath: /etc/kubeconfig/
              readOnly: true
            - name: hub
              mountPath: /etc/tls
              readOnly: true
            {{- if .Values.addtionalServiceCAConfigMap }}
            - name: additional-service-ca
              mountPath: /additional-service-ca
              readOnly: true
            {{- end }}
            - name: service-proxy-server-cert
              mountPath: /server-cert
              readOnly: true
        {{- end }}
      volumes:
        - name: ca
          secret:
            secretName: cluster-proxy-ca
        - name: hub
          secret:
            secretName: cluster-proxy-open-cluster-management.io-proxy-agent-signer-client-cert
        - name: hub-kubeconfig
          secret:
            secretName: cluster-proxy-hub-kubeconfig
        {{- if .Values.enableServiceProxy }}
        {{- if .Values.addtionalServiceCAConfigMap }}
        - name: additional-service-ca
          configMap:
            name: {{ .Values.addtionalServiceCAConfigMap }}
            optional: true
        {{- end }}
        - name: service-proxy-server-cert
          secret:
            secretName: cluster-proxy-service-proxy-server-certificates
        {{- end }}
      imagePullSecrets:
      {{- range .Values.proxyAgentImagePullSecrets }}
      - name: {{ . }}
      {{- end }}
