kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: cluster-proxy-addon-agent
  namespace: {{ .Release.Namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: cluster-proxy-addon-agent
subjects:
  - kind: ServiceAccount
    name: cluster-proxy
    namespace: {{ .Release.Namespace }}