apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: {{ .Release.Namespace }}
  name: {{ .Values.agentDeploymentName }}
  annotations:
  {{- with .Values.agentDeploymentAnnotations }}
  {{ toYaml . | indent 2 }}
  {{- end }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      open-cluster-management.io/addon: cluster-proxy
      proxy.open-cluster-management.io/component-name: proxy-agent
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  template:
    metadata:
      annotations:
      {{- with .Values.agentDeploymentAnnotations }}
      {{ toYaml . | indent 2 }}
      {{- end }}
        target.workload.openshift.io/management: '{"effect": "PreferredDuringScheduling"}'
      labels:
        open-cluster-management.io/addon: cluster-proxy
        proxy.open-cluster-management.io/component-name: proxy-agent
    spec:
      serviceAccount: cluster-proxy
      {{- if .Values.tolerations }}
      tolerations: {{ toYaml .Values.tolerations | nindent 8 }}
      {{- end }}
      {{- if .Values.nodeSelector }}
      nodeSelector: {{ toYaml .Values.nodeSelector | nindent 8 }}
      {{- end }}
      containers:
        - name: proxy-agent
          image: {{ .Values.proxyAgentImage }} # build by the cluster-proxy-addon repo
          imagePullPolicy: IfNotPresent
          command:
            - /proxy-agent
          args:
            - --proxy-server-host={{ .Values.serviceEntryPoint }}
            - --proxy-server-port={{ .Values.serviceEntryPointPort }}
            - --agent-identifiers={{ .Values.agentIdentifiers }}
            - --ca-cert=/etc/ca/ca.crt
            - --agent-cert=/etc/tls/tls.crt
            - --agent-key=/etc/tls/tls.key
            {{- range .Values.additionalProxyAgentArgs }}
            - {{ . }}
            {{- end }}
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
              - ALL
            privileged: false
            runAsNonRoot: true
            readOnlyRootFilesystem: true
          env:
            {{- if .Values.proxyConfig.HTTP_PROXY }}
            - name: HTTP_PROXY
              value: {{ .Values.proxyConfig.HTTP_PROXY }}
            {{- end }}
            {{- if .Values.proxyConfig.HTTPS_PROXY }}
            - name: HTTPS_PROXY
              value: {{ .Values.proxyConfig.HTTPS_PROXY }}
            - name: ROOT_CA_CERT
              value: "/etc/ca/ca.crt"
            {{- end }}
            {{- if .Values.proxyConfig.NO_PROXY }}
            - name: NO_PROXY
              value: {{ .Values.proxyConfig.NO_PROXY }}
            {{- end }}
          volumeMounts:
            - name: ca
              mountPath: /etc/ca
              readOnly: true
            - name: hub
              mountPath: /etc/tls
              readOnly: true
        - name: addon-agent
          image: {{ .Values.registry }}/{{ .Values.image }}:{{ .Values.tag }}
          imagePullPolicy: IfNotPresent
          command:
            - /agent
          args:
            - --v=2
            {{- range .Values.addonAgentArgs }}
            - {{ . }}
            {{- end }}
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            privileged: false
            runAsNonRoot: true
            readOnlyRootFilesystem: true
          volumeMounts:
            - name: hub-kubeconfig
              mountPath: /etc/kubeconfig/
              readOnly: true
          env:
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
        - name: service-proxy
          image: {{ .Values.proxyAgentImage }} # build by the cluster-proxy-addon repo
          imagePullPolicy: IfNotPresent
          command:
            - /cluster-proxy
          args:
            - service-proxy
            - --ocpservice-ca=/ocpservice-ca/service-ca.crt
            - --cert=/server-cert/tls.crt
            - --key=/server-cert/tls.key
          livesnessProbe:
            httpGet:
              path: /healthz
              port: 8000
            initialDelaySeconds: 2
            periodSeconds: 10
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            privileged: false
            runAsNonRoot: true
            readOnlyRootFilesystem: true
          volumeMounts:
            - name: ocpservice-ca
              mountPath: /ocpservice-ca
              readOnly: true
            - name: service-proxy-server-cert
              mountPath: /server-cert
              readOnly: true
      volumes:
        - name: ca
          secret:
            secretName: cluster-proxy-ca
        - name: hub
          secret:
            secretName: cluster-proxy-open-cluster-management.io-proxy-agent-signer-client-cert
        - name: hub-kubeconfig
          secret:
            secretName: cluster-proxy-hub-kubeconfig
        - name: ocpservice-ca
          configMap:
            name: openshift-service-ca.crt
            optional: true # In non-ocp clusters, the configmap is not present, so we make it optional
        - name: service-proxy-server-cert
          secret:
            secretName: cluster-proxy-service-proxy-server-certificates
      imagePullSecrets:
      {{- range .Values.proxyAgentImagePullSecrets }}
      - name: {{ . }}
      {{- end }}
