# Image registry
registry: quay.io/open-cluster-management

# Image of the cluster-gateway instances
image: cluster-proxy

# Image tag
tag:

# Number of replicas
replicas: 1

spokeAddonNamespace: "open-cluster-management-cluster-proxy"

proxyServerImage: quay.io/open-cluster-management/cluster-proxy
proxyAgentImage: quay.io/open-cluster-management/cluster-proxy

proxyServer:
  entrypointLoadBalancer: false
  entrypointAddress: ""
  port: 8091
  imagePullPolicy: IfNotPresent

installByPlacement:
  placementName: ""
  placementNamespace: ""

enableKubeApiProxy: true

# Enable user server deployment
# WARNING: Before setting this to true, ensure the following secret exists in the release namespace:
#   - cluster-proxy-user-serving-cert (TLS cert for user server)
# Note: Other required secrets (proxy-server-ca, proxy-client) will be created automatically by the controller.
# Without cluster-proxy-user-serving-cert, the user-server deployment will remain in Pending state.
enableServiceProxy: false
enableImpersonation: true
